doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 411730590_高欣妤的期末作業
        link(rel="stylesheet", href="index.css")
    body 
        .box
            h4 長按我試試！
            .box1 
                h4 淡江大學教育科技學系TKUET
            .box2 
                h4 歡迎來到教科
        .person
            .eyes 
                .Leye
                .Reye 
            .nose 
            .mouth
        .person1 
            .eyes 
                .Leye
                .Reye 
            .nose 
            .mouth
        .box3
            ul
                li
                    h3 學生核心能力指標 :
                    | (一)應用教學設計之能力<br>
                    | (二)應用教育資料分析之能力<br>
                    | (三)製作各類型媒體教材之能力<br>
                    | (四)應用基礎程式設計之能力<br>
                    | (五)應用人力資源教育訓練專案之能力<br>
                    | (六)評估各類型媒體教材之能力
                li
                    h3 專業必選修課程分為四大類 :
                    | (一)基礎課程<br>
                    | (二)人力資源發展<br>
                    | (三)數位學習教材與製作<br>
                    | (四)統整性課程
        .box4 
            h1.t4 先來看看教育科技系的介紹影片吧
            h1.t5 大學部的課程內容
            h1.t6 我們的教學目標
        .youtubeDisplay
            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/KyDc7HvCJnk?si=VNvZyc48FOFM4tMM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
        .imageDisplay 
            img(class="img1" src="擷取.PNG" width="100%" height="100%" alt="Grapefruit slice atop a pile of other slices")
        .h5pDisplay 
            <iframe src="https://app.Lumi.education/api/v1/run/a23_VM/embed" width="800" height="600" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe>
            <script src="https://app.Lumi.education/api/v1/h5p/core/js/h5p-resizer.js" charset="UTF-8"></script>
        .scene 
            .person
                .hairs
                    .hair1 
                    .hair2 
                    .hair3
                .body                     
                    .eyes 
                        .eye 
                            .eyeball 
                        .eye 
                            .eyeball
                    .mouth 
                        .food